/* line 6, ../sass/index.scss */
.main {
  background: url("../../images/featured_bg.png") no-repeat;
  min-height: 400px;
  overflow: hidden;
}

/* line 10, ../sass/index.scss */
.main #slider {
  width: 910px;
  height: 340px;
  overflow: hidden;
  margin: 0 0 0 24px;
}

/* line 16, ../sass/index.scss */
.main #slider ul {
  overflow: hidden;
}

/* line 18, ../sass/index.scss */
.main #slider ul li {
  width: 910px;
  /*height:510px;*/
  overflow: hidden;
  padding-bottom: 0px;
  margin-bottom: 0;
}

/* line 24, ../sass/index.scss */
.main #slider ul li .featured_image {
  height: 268px;
  width: 309px;
  float: left;
  margin: 48px 0 0 30px;
  background: url("../../images/featured_image_bg.png") no-repeat;
  padding: 12px;
}

/* line 33, ../sass/index.scss */
.main #slider ul li .featured_desc {
  margin: 48px 0 0 20px;
  width: 520px;
  float: right;
}

/* line 38, ../sass/index.scss */
.main #slider ul li .featured_desc .section_title {
  color: #56554f;
  font-size: 16px;
  font-weight: bold;
}

/* line 44, ../sass/index.scss */
.main #slider ul li .featured_desc h2 {
  padding-bottom: 20px;
  padding-top: 10px;
  font: 38px/30px Georgia, "Times New Roman", Times, serif;
  color: #fdfdfd;
}

/* line 50, ../sass/index.scss */
.main #slider ul li .featured_desc p {
  color: #bdb8ab;
  padding-bottom: 20px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: arial, helvetica, sans-serif;
}

/* line 59, ../sass/index.scss */
.main #slider ul li .featured_desc .view_project {
  width: 156px;
  height: 35px;
}

/* line 63, ../sass/index.scss */
.main #slider ul li .featured_desc .view_project a {
  background: url("../../images/view_project.png") 0 0 no-repeat;
  padding: 10px 78px;
  cursor: pointer;
}

/* line 68, ../sass/index.scss */
.main #slider ul li .featured_desc .view_project a:hover {
  background: url("../../images/view_project.png") 0 -35px no-repeat;
}

/* line 78, ../sass/index.scss */
.main #slider #controls {
  margin: 0;
  position: relative;
}

/* line 84, ../sass/index.scss */
.main .column_item {
  padding: 60px 30px 0 30px;
}

/* line 86, ../sass/index.scss */
.main .column_item .column {
  width: 260px;
  overflow: hidden;
}

/* line 90, ../sass/index.scss */
.main .column_item .column h2 {
  color: #ebaf0d;
  padding-bottom: 10px;
  font: 28px/26px Georgia, "Times New Roman", Times, serif;
  background: url("../../images/grunge_line.gif") repeat-x bottom center;
}

/* line 97, ../sass/index.scss */
.main .column_item .column .intro {
  font: 15px/22px Georgia, "Times New Roman", Times, serif;
  color: #d5d5d5;
  padding-bottom: 30px;
}

/* line 103, ../sass/index.scss */
.main .column_item .column p {
  margin: 0;
  padding-bottom: 20px;
}

/* line 107, ../sass/index.scss */
.main .column_item .column .read_more {
  display: block;
  width: 94px;
  height: 29px;
  text-indent: -99999px;
  background: url("../../images/readmore_btn.gif") no-repeat;
}

/* line 115, ../sass/index.scss */
.main .column_item .column ul {
  list-style: none;
  padding-bottom: 20px;
}

/* line 118, ../sass/index.scss */
.main .column_item .column ul li {
  width: 260px;
  padding: 6px 0;
  display: block;
  background: url("../../images/list_bottom_line.gif") repeat-x bottom center;
}

/* line 123, ../sass/index.scss */
.main .column_item .column ul li a {
  color: #759fba;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  display: block;
  background: url("../../images/arrow_2.gif") no-repeat left 0.5em;
  padding-left: 24px;
}

/* line 132, ../sass/index.scss */
.main .column_item .column ul li a:hover {
  color: #ffffff;
  background: url("../../images/arrow_2_hover.gif") no-repeat left 0.5em;
}

/* line 140, ../sass/index.scss */
.main .column_item .style1 {
  float: left;
  padding: 0;
}

/* line 144, ../sass/index.scss */
.main .column_item .style2 {
  float: left;
  padding-left: 56px;
}

/* line 154, ../sass/index.scss */
#prevBtn a, #nextBtn a {
  position: absolute;
  top: 360px;
  text-indent: -99999px;
  display: block;
  width: 54px;
  height: 44px;
}

/* line 164, ../sass/index.scss */
#prevBtn a {
  left: 100px;
  background: url(../../images/btn_prev.gif) no-repeat 0 0;
}

/* line 168, ../sass/index.scss */
#nextBtn a {
  right: 100px;
  top: 360px;
  background: url(../../images/btn_next.gif) no-repeat 0 0;
}
